version: "3.7"
services:
  mysql8:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./script/mysql/init.sql:/docker-entrypoint-initdb.d/
    ports:
      - "13306:3306"

#  redis:
#    image: "bitnami/redis:latest"
#    environment:
#      - ALLOW_EMPTY_PASSWORD=yes
#    ports:
#      - "16379:6379"